@import "tailwindcss";

@font-face {
    font-family: 'Open Sauce Sans';
    src: url('../fonts/OpenSauceSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSauceSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce Sans';
    src: url('../fonts/OpenSauceSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSauceSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sauce Sans';
    src: url('../fonts/OpenSauceSans-Medium.woff2') format('woff2'),
        url('../fonts/OpenSauceSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
	font-family: 'Open Sauce Sans';
}
